{% extends "base/base.html" %}

{% block content %}
{% load staticfiles %}
	<h1 class = "text-left ml-3 font-weight-bold">Регистрация</h1>

<div class = "my-4">
	<form method = "post" action = "{% url 'authorization:registration' %}" enctype="multipart/form-data">
	{% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-9">


        {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field.as_widget }}
                <div class="">
                    {{ field.errors }}
                </div>
        {% endfor %}

      </div>
    </div>

    <input class = "btn __btn-2" type = "submit" value = "Зарегистрироваться"/>
    <a href = "{% url 'authorization:login' %}">
		  <button type="button" class = "btn __btn-2 ml-2">Авторизация</button>
    </a>
	</form>
    {% for err in form.non_field_errors %}
		<div class="alert alert-danger"> {{ err }} </div>
	{% endfor %}
</div>
{% endblock %}
